body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding:0;
  margin:0px;
}

a {
  color: #00B7FF;
}

.thumbnail img{
  max-height: 150px;
}

.thumbnail .description{
  color: #7f7f7f;
}

.price{
  font-weight: bold;
  font-size: 16px;
}